<!DOCTYPE html>
<html lang="en">

<head>

	<title>dashboard</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%- include('./layout/css') -%>
</head>

<body>

	<%- include('./layout/header') -%>
	<%- include('./layout/sidebar') -%>

	<div class="main-site-area-wrapper" id="sliding2">
		<div class="admin-dashboard-wrapper clearfix">
			<div class="conatiner-fluid clearfix">
				<div>
					<div class="col-md-12">
						<h1 style="text-align: center;">This is dashboard</h1>
					</div>
				</div>
			</div>
		</div>

	</div>

	<%- include('./layout/javascript') -%>
	
</body>

</html>