<header class="main-header-wrapper" id="sliding3">
    <div class="container-fluid">
        <div class="row clearfix">

            <div class="top-left-header">
                <ul>
                    <li><a onclick="slide_menu()" href="javascript:void(0)"><i class="fas fa-bars"></i></a></li>
                </ul>
            </div>

            <div class="top-right-header">
                <ul>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img
                                src="/assets/images/placeholder.png" alt="profile"></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> &nbsp;&nbsp;Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>