<div class="fixed-left-menu-wrapper" id="sliding">
    <ul>
        <li class="text-center"> <h3 style="padding: 15px;"> Dashboard </h3> </li>
        <li class="nav_link">
            <a data-toggle="collapse" data-target="#demo" href="/"><i class="fas fa-th-large"></i> 
                <div class="hide-wraper"> Home </div> <span class="fas fa-caret-right"></span>
            </a>
        </li>
    </ul>
</div>